<form style=>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="form-group">
      <label >Username</label>
      <input type="text" class="form-control"  placeholder="Enter username">
    </div>
    <div class="form-group">
      <label >Password</label>
      <input type="password" class="form-control"  placeholder="Password" >
    </div>
    <div class="form-group">
        <label >Email</label>
        <input type="email" class="form-control"  placeholder="email">
      </div>

      
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      
    
      
    <div class="form-group" style="margin-top: 20px;">
        <label >Email</label>
        <input type="email" class="form-control"   placeholder="Enter email" >
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" class="form-control"  placeholder="Password" >
      </div>
      
         <button type="submit" class="btn btn-primary">Submit</button>
      
     
    
  </form>

